@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
  }
  
  h1 {
    font-family: Norse-Bold, sans-serif;
  }

  body{
    margin: 0;
    padding: 0;
    background: white;
    display: flex;
  }
  
  .main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }

  .left{
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Norse-Bold, sans-serif;
  }

  .right{
    display: flex;
    flex-direction: column;
    background-color: #F0FFFF;
    width: 65vw;
  }

  .firstp{
    height: 25vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
  }

  .secondp{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
  }


form{
    background-color: white;
    display: flex;
	flex-direction: column;
	gap: 5px;
    margin-top: 2%;
   padding-bottom: 4%;
}

.form-heading{
    margin-left: 2%;
}

fieldset {
	display: flex;
	flex-direction: row;
	gap: 30px;
	border: none;
	margin: 15px;
	padding: 0;
}

.last_name{
    margin-right: 3.5rem;
}

label{
    display: block;
}



